*{
    margin: auto;
    color: darkslategray;
}
body{
    background:rgb(243, 238, 238);
}
.flexBox{
    width: 280px;
    height: 350px;
    background-color:snow;
    border-radius: 10px;
    box-shadow: inset;
    padding: 1px;
    margin: 8px;
    text-align: center;
    box-shadow: 2px 2px 20px black;
    margin-top: 10px;
}
.flexContainer{
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    flex-wrap: wrap;
}
.img{
    width: 280px;
    height: 200px;
    border-radius: 10px;
}
.text{
    text-decoration: none;
    font-family:Verdana, Geneva;
}
.timeIcon{
    color:rgba(29, 29, 29,5);
    text-align: right;
    margin-right: 20px;
    margin-top: 20px;
}
.time{
    margin-top: -18px;
    margin-left: 115px;
}
.movieIcon{
    margin-right: 80px;
    margin-top: -18px;
}
.movieTime{
    margin-top: -18px;
    margin-right: 55px;
}
.techer{
    margin-right: -240px;
    margin-top: 30px;
}
#lined{
    text-decoration:line-through;
    margin-top: -15px;
    font-size: 12px;
    margin-left: 80px;
}
#price{
    color: red;
    margin-right: 80px;
    margin-top: -16px;
}
.img{
    width: 280px;
    height: 200px;
    border-radius: 10px;
}
.text{
    text-decoration: none;
    font-family:Verdana, Geneva;
}
.timeIcon{
    color:rgba(29, 29, 29,5);
    text-align: right;
    margin-right: 20px;
    margin-top: 20px;
}
.time{
    margin-top: -18px;
    margin-left: 115px;
}
.movieIcon{
    margin-right: 80px;
    margin-top: -18px;
}
.movieTime{
    margin-top: -18px;
    margin-right: 55px;
}
.techer{
    margin-right: -240px;
    margin-top: 30px;
}
#lined{
    text-decoration:line-through;
    margin-top: -15px;
    font-size: 12px;
    margin-left: 80px;
}
#price{
    color: red;
    margin-right: 80px;
    margin-top: -16px;
}
.flexBox:hover{
    transform: perspective(300px)translate3d(0px,0px,10px);
}

.responsiveHeader{
    margin-top: 10px;
    text-align: center;
    height: auto;
    border: #34395e 1px solid;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #34395e;
    display: block;
    line-height: 1.6;
    font-family: montstraff , sans-serif;
    box-sizing: border-box;
}
.responsiveHeader a,.headerItem a{
    color:rgb(20, 95, 69);
    text-decoration: none;
    text-transform: uppercase;
}
.HeaderItems li{
    list-style-type: none;
    padding: 2px;
}
.headerLogo{
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
    padding: auto;
    margin-left: 30px;
}
.headerItem a:hover{
    color:rgb(20, 95, 69);
}
@media(min-width:1000px){
    .responsiveHeader{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .HeaderItems li{
        padding: 28px;
    }
}
@media(min-width:770px){
    .HeaderItems{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .HeaderItems li{
        padding: 28px;
    }
}
.HeaderItems{
    margin-right:10px;
}
